css样式：
/////////////////////////////////////////////////////////


设置颜色：
div{
	color:#00ff00;
	color:rgb(255,255,30);
	backgound-color:rgba(255,0,0,0.5);  /*a为透明度*/
}


*{属性:值;}  /*  *代表所有标签，那么会给所有标签加上这个样式 */


font-size
font-family:微软雅黑;   // 直接写中文名字
font-family:Microsoft YaHei; // 写英文名字， 或者unicode编码

console控制台获取unicode
escape('宋体')
"%u5B8B%u4F53"


Font-style:设置文字的斜体。
Italic   斜体
normal  正常
line-height   行高  // 行高=文字大小+上边距+下边距,value可以为：40px|2em|120%|2

font的连写：
文字大小和字体不能缺少，其余跟需求写；

{font: font-style font-weight  font-size/line-height  font-family;}
.p-weight{
	font:italic 700 40px/80px 微软雅黑;
}


/***********************************/
1.交集选择器：（中间不能有空格）
h3.class{
	color: orange;
	font-size: 10px;
}

2.父与子连写：（中间有空格，包含关系）无隔代限制
/*两个或者两个以上的选择器写在一起；
  必须是包含关系，父在前，子在后；
*/
.father #son1 a {font-size: 30px;}


3.父子标签：(包含关系，必须是父与子，与JQ一致)
div>p{
	color: green;
}


4.不同的选择器写在一起：（并集选择器）
.one, .two, span{
	color: orange;
	font-size: 30px;
}


/***********************************/
元素之间的转换：

Display: inline			    将元素转化为行内元素
Display：inline-block	    将元素转化行内块元素
Display: block				将元素转化为块元素


1.块元素
Div,h1-h6,p.....
特点：
※独占一行
※可以设置宽高
※宽度是父集元素的宽度（嵌套关系）


2.行内元素
a,span,i,strong,em........
特点：
※所有的行内元素在一行上显示
※不能设置宽高
※宽度就是元素内容宽度

3.行内块元素
Img,input
特点:
※能设置宽高
※在一行上显示

/***********************************/
css伪类：
a:link{}
a:visited{}
a:hover{}|
a:active{}
:focus{}

p:first-child{}

/***********************************/
text-decoration: None|underline|line-through
text-indent:1em; 文字的缩进距离
/*比如给每一行的列表前面添加一个图片的时候*/

div{
	background-color: #ffffff;

	background-image: url("../png");  /*设置背景图片一定要设置宽度和高度*/
	width: 800px;
	height: 600px;
	background-repeat: repeat|repeat-x|repeat-y|no-repeat;
	background-position: 30px 40px; /*第一个值是水平方向，第二个是垂直方向*/
	background-position: top right; /*只写一个值时，另外一个值默认居中*/
	background-attachment: scroll|fixed; /*设置背景是否滚动*/
}

ul{
	list-style: none; /*去掉列表前的显示方式*/
}

/***********************************/
样式优先级：

行内样式 > 页内样式 > 外部引用样式 > 浏览器默认样式
important > 内联 > ID > 伪类|类 | 属性选择  > 标签  > 伪对象 >  通配符 > 继承

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
	#con{
		color: pink;
		font-size:100px;
		}
		
	.box{
		color:green;
		font-size: 60px;
		}

	div{
		color:red !important; /*!important的优先级是最高的 > 内联 > id > class >标签*/
		font-size:60px !important;
	}	
	</style>
</head>
<body>
	<div class="box" id="con" style="font-size:12px; color:yellow;">14期威武</div>
</body>
</html>

/***********************************/
padding，margin
padding:内边距
margin:外边距
1.都有后缀可以带:left, right, top, bottom;
2.也可以直接带 1(所有距离一样)/ 2（上下，左右）/4（上，右，下，左；顺时针）个参数：
#div1{
	padding-left: 10px;
	margin-right: 20px;
	overflow: hidden; //给外边的大盒子设置溢出的时候，隐藏
}


