*{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "宋体", "微软雅黑";
}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom:1;
}
.navigation, .search, .titleBar, .business, .constructionMateria, .chlidrenSeat, .artwork, .blogroll{
	width: 980px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}
.navigationAll{
	width: 100%;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	background-color: #F7F7F7;
	height: 26px;
}
.left{
	float: left;
}
.navigation .left{
	height: 26px;
	line-height: 26px;
}
.right{
	float: right;
}
.right ul li{
	float: left;
	list-style: none;
	height: 26px;
	line-height: 26px;
	background: url(./images/sj.png) center right no-repeat;
	text-align: right;
	margin-left: 15px;
}
.right ul li a{
	text-decoration: none;
	color: black;
	display: inline-block;
	padding-right: 10px; 
}
.searchBar{
	border: 1px solid #C9C9C9;
    background: #f5f5f5;
    margin-top: 50px;
}
.searchBar input[type="text"]{
	width: 400px;
	height: 28px;
	margin-top: 44px;
	float: left;
	margin: 0;
}
.searchBar input[type="button"]{
	background: url(./images/search.png);
	width: 99px;
	height: 32px;
	margin: 0;
	border: 1px solid green;
	float: left;
}
.titleBar{
	border-bottom: 3px solid #0266A2;
}
.titleBar ul li{
	float: left;
	padding:5px 20px 5px 20px;
	margin-top: 20px;
	list-style: none;
}
.titleBar li:hover{
	background: #2F6CAD;
}
.titleBar li:hover a{
	color: white;
}
.titleBar ul li a {
	text-decoration: none;
	color: #2F6CAD;
	/*font-size: 15px;*/
}
.navleft{
	margin-top:10px; 
	width: 200px;
	background-color: #EBF0F6; 
}
.market{
	padding-left: 20px; 
	height: 30px;
    line-height: 30px;
    color: #fff;
    background: #0266A2;
}
.lefttitle{
	width: 120px;
}
.lefttitle ul li{
	list-style: none;
	display: inline-block;
	text-indent: 30px;
	text-align: left;
	margin-left: 10px;
	height: 30px;
	line-height: 30px;
}
.lefttitle ul li:hover a{
	color: #0266A2;
}
.lefttitle ul li a{
	text-decoration: none;
	color: black;
}
.icon1{
	background: url("./images/icon_1.png") left center no-repeat;
}
.icon2{
	background: url("./images/icon_2.png") left center no-repeat;
}
.icon3{
	background: url("./images/icon_3.png") left center no-repeat;
}
.icon4{
	background: url("./images/icon_4.png") left center no-repeat;
}
.icon5{
	background: url("./images/icon_5.png") left center no-repeat;
}
.icon6{
	background: url("./images/icon_6.png") left center no-repeat;
}